* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}


/* Button Style */

.btn-primary {
    color: #005FAC;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease;
}

.btn-primary:hover {
    background-color: #005FAC;
    color: #fff;
}

.btn-secondary {
    color: #fff;
    background-color: #005FAC;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease;
}

.btn-secondary:hover {
    color: #005FAC;
    background-color: #fff;
}

/* Header Section Style */

header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: flex-end;
}

.header-section {
    width: 1140px;
    margin: 215px 190px;
    width: 500px;
    text-align: right;
}

.header-title {
    font-size: 65px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 24px;
}

.header-description {
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 32px;
}


/* Failure Section Style */

.failure-section {
    width: 1140px;
    margin: 130px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failure-image img {
    width: 450px;
}

.failure-content {
    width: 415px;
    margin-right: 50px;
}

.failure-title {
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
    font-weight: 400;
}

.failure-list {
    list-style: none;
    padding-left: 20px;
}

.failure-list-item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 8px;
}

.failure-list-item::before {
    content: '\2713';
    position: absolute;
    left: -20px;
    top: 0;
    color: #16D887;
    font-size: 24px;
}



/* Plan Section Style */

.plan-section {
    width: 1140px;
    margin: 130px auto;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 50px;
    text-align: center;
}

.plan-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.plan-item img {
    width: 92px;
    margin-bottom: 24px;
}

.plan-item h3 {
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}

.plan-item p {
    font-size: 25px;
    color: #444343;
    font-weight: 400;
}

/* Call to action Section Style */

.call-to-action {
    width: 1140px;
    margin: 130px auto;
    background-image: url("../images/watch.png");
}

.call-to-action-container {
    padding: 60px 64px;
    background-image: url('../images/gradient1.png');
}

.call-to-action-title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    /* padding: 60px 0 0 64px; */
    margin-bottom: 24px;
    width: 460px;
}


/* Footer Section Style */

footer {
    background-color: #151414;
}

.footer-section {
    width: 1140px;
    padding: 130px 230px;
}

.footer-container {
    display: flex;
    align-items: start;
}

.footer-title {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 16px;
}

.footer-description {
    width: 485px;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 24px;
    font-weight: 400;
    margin-right: 230px;
}

.email {
    margin-bottom: 16px;
}

.phone {
    margin-bottom: 32px;
}

.footer-icon {
    width: 46px;
    margin-right: 18px;
}

.footer-form-title {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 32px;
    text-align: left;
}

.footer-right input:nth-child(1) {
    width: 325px;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    display: block;
}

.footer-right input:nth-child(1)::placeholder {
    color: #F3F3F3;
    font-size: 18px;
}

.subscribe-field {
    border-radius: 8px;
    padding: 22px;
    margin-bottom: 16px;

}